* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: alata;
  src: url(fonts/Alata-Regular.ttf);
}
nav {
  font-family: alata;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 2px;
}
nav .logo {
  color: white;
  margin-left: 50px;
}
nav .links {
  margin-right: 50px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  color: white;
}

footer {
  font-family: alata;
  height: 60px;
  width: 100%;
  background-color: #a6a6a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  color: black;
  margin-left: 50px;
}
footer p {
  margin-top: 15px;
  margin-right: 50px;
}

.home {
  width: 100%;
}
.home .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/blazers2jpg.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
}
.home .hero h1 {
  font-family: alata;
  color: white;
  font-size: 200px;
  margin-top: -250px;
}
.home .shoeimgs {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .shoeimgs .row1 {
  width: 1050px;
  height: 300px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.home .shoeimgs .row1 .img1 {
  width: 300px;
  height: 300px;
  background-image: url(../images/jordan1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.home .shoeimgs .row1 .img2 {
  width: 300px;
  height: 300px;
  background-image: url(../images/airmax.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 30px;
}
.home .shoeimgs .row1 .img3 {
  width: 300px;
  height: 300px;
  background-image: url(../images/af1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.home .shoeimgs .row2 {
  width: 1050px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.home .shoeimgs .row2 .img4 {
  width: 300px;
  height: 300px;
  background-image: url(../images/blazerimg.webp);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: 30px;
}
.home .shoeimgs .row2 .img5 {
  width: 300px;
  height: 300px;
  background-image: url(../images/95.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40px;
}
.home .shoeimgs .row2 .img6 {
  width: 300px;
  height: 300px;
  background-image: url(../images/dunk.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -135px;
}

.about {
  width: 100%;
  height: 100%;
  font-family: alata;
}
.about .title {
  margin-left: 70px;
  margin-top: 50px;
  font-size: 40px;
}
.about .about-text {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.about .about-text p {
  width: 700px;
  line-height: 30px;
}

.products {
  width: 100%;
}
.products .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/nikehero.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center;
}
.products .shoes1 {
  height: 850px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.products .shoes1 h1 {
  font-size: 50px;
  font-family: alata;
  margin-bottom: 30px;
}
.products .shoes1 .shoes1img {
  background-image: url(../images/airmaxhero.jpg);
  height: 600px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
}
.products .shoes2 {
  height: 850px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.products .shoes2 h1 {
  font-size: 50px;
  font-family: alata;
  margin-bottom: 30px;
  color: white;
  margin-top: 70px;
}
.products .shoes2 .shoes2img {
  background-image: url(../images/blazershero.jpg);
  height: 600px;
  width: 600px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-position: -80px;
}

.contact {
  width: 100%;
  height: 100%;
  font-family: alata;
}
.contact .title {
  margin-left: 70px;
  margin-top: 50px;
  font-size: 40px;
}
.contact .contact-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.contact .contact-text h1 {
  text-align: center;
  margin: 0 auto;
  line-height: 70px;
}
.contact .title2 {
  display: flex;
  justify-content: right;
  font-size: 40px;
  margin-top: 70px;
  margin-right: 70px;
}
.contact .message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact .message .box {
  height: 300px;
  width: 500px;
  background-color: white;
  outline: solid 5px black;
}
.contact .message .submit {
  height: 50px;
  width: 100px;
  margin-top: 30px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .message .submit p {
  color: white;
  margin-top: 15px;
}

/*# sourceMappingURL=styles.css.map */
